body {
    margin: 20px;
    background-color: rgb(241, 219, 224);
}

main {
    margin-top: 60px;
    font-family: 'Courier new';
    font-size: 15px;
}

h1 {
    text-align: center;
    font-family: 'Courier New';
    font-weight: lighter;
}

h2 {
    text-align: center;
    font-family: 'Courier New';
    font-weight: lighter;
}

header {
    text-align: center;
    font-family: 'Courier new';
    background-color: rgb(239, 195, 202);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(239, 195, 202);
    padding: 20px;
    font-family: 'Courier new';
}

ul {
    text-align: left;
    font-family: 'Courier new';
    font-style: oblique;
}

ol {
    text-align: left;
    font-family: 'Courier new';
    font-style: oblique;
}

img {
    max-width: 500px;
    max-height: 500px;
}

.cat {
    font-family: 'Courier new';
    font-weight: normal;
    text-align: center;
}
