<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ветрова Лолита, Клопенкова Виктория. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    {% if request.cookies.get('background_color') and request.cookies.get('color') and request.cookies.get('size')%}
        <style>
            body {
                background-color: {{ request.cookies.get("background_color") }};
                color: {{ request.cookies.get("color") }};
            }
            main {
                font-size: {{ request.cookies.get("size") + 'px' }};
            }
        </style>
    {% endif %}
</head>
<body>
    <header>
        WEB-программирование. часть 2. {{ self.lab() }}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        &copy; Ветрова Лолита, Клопенкова Виктория, ФБИ-11, 3 курс, 2023
    </footer>
    
</body>
</html>