{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Картинки с котятами</h1>
    <div>Тема самостоятельного задания - котики.</div>
    <br>
    <div class="cat">
        <img src="{{ url_for('static', filename='cat1.jpg')}}">
        <div>Котик с деньгами. Много деняк.</div>
        <img src="{{ url_for('static', filename='cat2.jpg')}}">
        <div>Котик в очках. Улыбается.</div>
        <img src="{{ url_for('static', filename='cat3.jpg')}}">
        <div>Котик в зуме. Шокирован.</div>
        <img src="{{ url_for('static', filename='cat4.jpg')}}">
        <div>Котик проснулся. Сонный.</div>
        <img src="{{ url_for('static', filename='cat5.jpg')}}">
        <div>Котик просто милый. Мило.</div>
        <img src="{{ url_for('static', filename='cat6.jpg')}}">
        <div>Котик ну вы поняли. Вот так вот...</div>
    </div>
    <br>
    <br>
{% endblock %}