{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <form method="post">
        <h1>Новая заметка</h1>
        <input type="text" name="title_article" placeholder="Название статьи">
        <textarea name="text_article" rows="20" placeholder="Текст статьи"></textarea>
        <input type="submit" value="Apply">
        {% if errors %}
            <span>
                {% for error in errors %}
                    {{ error }}<br>
                {% endfor %}
            </span><br>
        {% endif %}
    </form> 
{% endblock %}