<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ветрова Лолита, Клопенкова Виктория, Лабораторная работа {{ number }}</title>
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа {{ number }}.
    </header>

    <main>
        Основной контент
    </main>

    <footer>
        &copy; {{ name }}, {{ group }}, {{ curs }} курс, 2023
    </footer>
</body>
</html>